* {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    color: #777;
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/*This section is the entire window of the navigation area  */
.header-container {
    background-color: rgba(48, 45, 45, 0.6);
    border-bottom: 2px solid rgba(255,255,255,.3);
}

.header-container a {
    font-size: 1.3em;
    font-weight: lighter;
    display: inline-block;
    padding: .3em;
    color: white;
    text-decoration: none;
}

.header-container a:hover {
    background-color: rgba(255, 255, 255, .1);
}


/*This section handles the buttons linking to other resources in the top navbar*/

.header-navbar {
    
    display: inline;
}

.header-navbar ul {
    display: inline;
}

.header-navbar li {
    display: inline;
}

.header_login {
    float: right;
    overflow: auto;
    
}
.header_login ul {
    display: inline;
}

.header_login li {
    display: inline;
}

.navform {
    display: inline-block;
    text-align: right
}

/* THE CONTENT SECTION */

.body-container {
    height: 100%;
    padding: 0;
    margin: 0;
}

.content-container{
    margin: auto;
    margin-top: 80px;
    background-color: #333;
    height: 90%;
    width: 66%;
    border: 2px solid rgb(0, 0, 0);
}

.content-header h1{
	text-align: center;
    color: #f2f2f2;
    padding: 10px;
    margin: 0;
}

.content-body {
    text-align: center;
}

.content-body p {
    text-align: center;
}

.news_container {
    text-align: center;
}

/* HOME PAGE */

.newsreel {
    margin-top: 100px;
    list-style: none;
}

.newsreel h2 {
    margin-bottom: 0;
}

.newsreel p {
    margin-top: 0;
}

/* FAQ PAGE */

.search-bar-faq input{
	width: 600px;
	padding: 15px 20px;
	border-radius: 50px;
	font-size: 20px;
	text-transform: uppercase;
	 
}

.search-bar-faq input place-holder {
	color: #fff;
}

.search-bar-faq button{
	width: 120px;
	height: 55px;
	border: 0;
	background: rgba(158, 21, 21, 0.712);
	color: white;
	border-radius: 50px;
}

.search-bar-faq button:hover {
	background-color: rgba(4, 4, 71, 0.637);

}

.info-faq {
	word-spacing: 2px;
	font-size: 120%;
}


/* CONSULTATION PAGE */


.content-consult {
	padding: 150px 350px;
	color: black;

}

.booking-consult {
	width: 500px;
	background: transparent;
	color: white;
}

.consulting table, th, td {
	border: 1px solid black;
	border-color: white;
	padding: 6px;

}

.consulting th, td:hover{
	background-color: blue;
}


.booking-consult input[type="submit"] {
    width: 120px;
	height: 55px;
	border: 0;
	background: rgba(158, 21, 21, 0.712);
	color: white;
	border-radius: 50px;
}


.booking-consult input[type="submit"]:hover {
	background-color: rgba(4, 4, 71, 0.637);

}




/* FOOTER SECTION */

.footer-wrapper {
    clear: left;
    background-color: #777;
    border-top: 2px solid #333;
    }

.footer.note {
    color: #ddd;
    margin: auto;
    padding: 5px;
    text-align: right;
}

/*UNIT EXPLORER*/

.content.unit {
    text-align: center;
}