@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
    box-sizing: border-box;
    font-family: Indie Flower;
    color: #777;
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/*This section is the entire window of the navigation area  */
.header-container {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../Pictures/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    border-bottom: 2px solid rgba(255,255,255,.3);
}

.header-container a {
    font-size: 1.3em;
    font-weight: lighter;
    display: inline-block;
    padding: .3em;
    color: white;
    text-decoration: none;
}

.header-container a:hover {
    background-color: rgba(255, 255, 255, .1);
}


/*This section handles the buttons linking to other resources in the top navbar*/

.header-navbar {
    
    display: inline;
}

.header-navbar ul {
    display: inline;
}

.header-navbar li {
    display: inline;
}

.header-login {
    float: right;

}

.navform {
    display: inline;
}

/* THE CONTENT SECTION */

.body-container {
    height: 100%;
    padding: 0;
    margin: 0;
}

.content-container{
    margin: auto;
    margin-top: 80px;
    background-color: #333;
    height: 90%;
    width: 66%;
    border: 2px solid grey;
}

.content-header h1{
	text-align: center;
    color: #f2f2f2;
    padding: 10px;
    margin: 0;
}

.content-body p {
    text-align: center;
}

/* FAQ PAGE */

.search-bar input{
	width: 300px;
	 
}

.search-bar button{
	padding: 7px 15px;

}

/* FOOTER SECTION */

.footer-wrapper {
    clear: left;
    background-color: #777;
    border-top: 2px solid #333;
    }

.footer.note {
    color: #ddd;
    margin: auto;
    padding: 5px;
    text-align: right;
}